html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Karla', sans-serif;
  color: #f2f2f2;
  background-color: #0a0a0a;
  /* overflow-x: hidden; //horizontal
  overflow-y: scroll; //vertical */
}

.divider {
  border: 0.5px solid #404040;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.padding {
  padding-bottom: 2rem;
}

.thick-hr {
  border: 0.5px solid #737373;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.about-hr {
  border: 0.5px solid #737373;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.intro-hr {
  border: 0.5px solid #bfbfbf;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  width: 80%;
}

.font-shadow {
  text-shadow: 1px 1px 10px #000;
}

.jumbotron {
  background: #404040;
}

.my-background {
  /*background: #0D0D0D;*/
  background: rgba(13, 13, 13, 0.5);
}

.navbar {
  padding: 15px;
}

.navbar-nav li {
  padding-right: 30px;
}

.nav-link {
  font-size: 20px !important;
}

.btn-primary {
  background-color: #737373;
  border: 1px solid #0b132b;
}

.btn-primary:hover {
  background-color: #1c2541;
  border: 1px solid #1c2541;
}

.btn-secondary {
  background-color: #3a506b;
  border: 1px solid #3a506b;
}

.btn-secondary:hover {
  background-color: #1c2541;
  border: 1px solid #1c2541;
}

.carousel-inner img {
  width: 1200px;
  height: 768px;
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  transform: translateY(-50%);
}

.carousel-caption h2 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
  font-size: 150%;
  font-weight: 500%;
  text-shadow: 1px 1px 5px #000;
  padding-bottom: 20px;
}

.cards-container {
  width: 85%;
}

.card-inner {
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-inner img {
  transition: all 1.5s ease;
}

.card-inner:hover img {
  transform: scale(1.5);
}

.fa-html5 {
  color: #e54d26;
}

.fa-css3 {
  color: #2163af;
}

.fa-node-js {
  color: #68a063;
}

.fa-js {
  color: #f0db4f;
}

.fa-file-contract {
  color: #ef476f;
}

.fa-drafting-compass {
  color: #ffd166;
}

.fa-object-group {
  color: #06d6a0;
}

.fa-registered {
  color: #118ab2;
}

.fa-user-circle {
  color: #006d77;
}

.fa-clock {
  color: #073b4c;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-react {
  color: #0e76a8;
}

.fa-database {
  color: #4db33d;
}

.fa-gitlab {
  color: #e24329;
}

.fa-github {
  color: #4078c0;
}

.fa-html5,
.fa-css3,
.fa-node-js,
.fa-js,
.fa-react,
.fa-database {
  font-size: 5rem;
  margin: 1rem;
}

.dropdown-tech {
  width: 100%;
}

.desc {
  width: 75%;
}

.inquire-text {
  margin-top: 3rem;
}

.hr-contact {
  width: 50%;
  border: 0.2px solid #737373;
}

.footer-copyright a {
  color: white;
  text-decoration: none;
}

.footer-copyright a:hover {
  color: blue;
  text-decoration: none;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  /* background: url path: from css folder so use ../ */
  background: url('../images/be-by-balint4.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-text {
  font-size: 1.1rem;
}
/*--- Bootstrap Padding Fix --*/
[class*='col-'] {
  padding: 0.5rem;
}

@media screen and (max-width: 1199.98px) {
  section {
    font-size: 80%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
  }

  .responsive-image {
    width: 100%;
    height: auto;
  }

  .blockquote {
    font-size: 1rem;
  }

  .coffee-bg {
    background: url('../images/landing-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
  }
}

.coffee-bg {
  background: url('../images/landing-bg.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-position: bottom;
  background-repeat: no-repeat;
  /*box-shadow: inset 0px 0px 400px 150px rgba(0, 0, 0, .7);*/
  filter: grayscale(50%);
}

.border-rounded {
  border-radius: 40%;
}

.responsive-image {
  width: 100%;
  height: auto;
  box-shadow: inset 0px 0px 400px 150px rgba(0, 0, 0, 0.7);
}

.intro-bg {
  background: rgba(90, 99, 115, 0.7);
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #353535;
  text-decoration: none;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
